[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gspread = "*"
yfinance = "*"
openpyxl = "*"
pillow = "*"
python-dotenv = "*"
black = "*"
yahoofinancials = "*"

[dev-packages]

[requires]
python_version = "3.9"
